<strong>Olá. {{ deliveryMan }}</strong>
<p>A encomenda {{ id }}  foi cancelada devido {{description}}</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Data de Cancelamento: </strong> {{ date }} <br />
</p>
